.row > .col {
    padding: 0rem;
}

.about-wrapper{
    display: flex;
    background-image: url("/assets/images/about_bg.jpg");
    background-size:cover;
    background-position: 90% center;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.about-body {
    padding: 10px;
    color: #555;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    line-height: 1.65;
    margin-right: auto;
    margin-left: 1em;
    margin-top: 2em;
    max-width: 40%;
}

.about-body > .about-body-branding {
    font-size: 1.25em;
    font-weight: 900;
    color: #DF60F9;
    letter-spacing: 0;
    text-shadow: 2px 1px 16px var(--clr-analogous-2-100);
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
    }

    .row > .col {
        padding: 1.5rem;
    }

    #about-header {
        font-size: 2em;
        text-align: center;
    }

    #about-header > .about-header-highlight::after {
        height: 15px;
        bottom: 3px;
    }

    .about-body {
        font-size: 0.95em;
        letter-spacing: 0;
        text-align: justify;
        line-height: 1.75;
    }
}