.row > .col {
    padding: 0rem;
}

.about_bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    float: none;
    
}

.about-body {
    position: absolute;
    left: 25px;
    right: 50%;
    bottom: 10px;
    top: 25%;
    padding: 10px;
    color: #555;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    line-height: 1.65;

}

.about-body > .about-body-branding {
    font-size: 1.25em;
    font-weight: 900;
    color: var(--clr-primary-200);
    letter-spacing: 0;
    text-shadow: 2px 1px 16px var(--clr-analogous-2-100);
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
    }

    .row > .col {
        padding: 1.5rem;
    }

    #about-header {
        font-size: 2em;
        text-align: center;
    }

    #about-header > .about-header-highlight::after {
        height: 15px;
        bottom: 3px;
    }

    .about-body {
        font-size: 0.95em;
        letter-spacing: 0;
        text-align: justify;
        line-height: 1.75;
    }
}