.home_bg{
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    display:block;
    margin-bottom: 0px;
}

#homepage-container{
    display: flex;
    background-color: var(--clr-analogous-2-50);
    gap: 2rem;
    min-height: 90vh;
    justify-content:right;
    background-image: url("/assets/images/home_bg.jpg");
    background-size:cover;
    background-position: 90% center;
    background-repeat: no-repeat;
}

#home-wrapper{
    display: flex;
    
}

#title-wrapper{
    display: flex;
    margin-left: 2em;
}


#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 2rem;
}

#salon-title{
    font-family: "Dr Sugiyama", cursive;
    color: black;
    font-size: 10em;
    text-align: center;
    line-height: 1em;
}

#salon-subtitle{
    margin-top: 1.5em;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .5em;
    font-weight: 500;
    color: black;
}

#salon-address{
    margin-top: 1.5rem;
    font-weight: 800;
    font-size: 1.5em;
}

#salon-contact {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.25em;
    opacity: 0.8;
}

#salon-contact > a {
    color: #000;
}

#btn-reservation {
    padding: 1rem 3rem;
    background-color: pink;
    color: black;
    border-radius: var(--radius);
    transition: background-color 180ms ease-in-out;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 2rem;
}


@media (max-width: 992px) {
    #homepage-container {
        min-height: unset;
    }
    #title-promo-container {
        flex-direction: column-reverse;
    }

    #title-container {
        padding: 3rem;
    }

    #salon-title {
        font-size: 3em;
    }

    #salon-subtitle {
        font-size: 0.5em;
    }

    #salon-address {
        font-size: 1em;
    }

    #salon-contact {
        font-size: 0.85em;
    }

    #btn-reservation {
        padding: 0.5rem 2rem;
        font-size: 1em;
        margin-top: 2rem;
    }

    .carousel-item > img {
        height: 35vh;
    }
}